.footer {
  min-height: 589px;
}

.footer-title {
  color: #2c2c2a;
  text-align: center;
  font-family: "Gilroy-Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 159%;
  margin-top: 98px;
}

.footer-list-card {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  align-content: center; /* Centraliza verticalmente os elementos */
}

.footer-card {
  margin-left: 56px;
}

.footer-card-img {
  background-color: #fff;
  width: 169px;
  overflow: hidden;
  border-radius: 20px;
  text-align: center;
}

.footer-card-img img {
  display: block;
  width: 100%;
}

.footer-card-img h1 {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.footer-card-subtitle {
  margin-top: 9px;
  text-align: center;
}

.footer-card-subtitle h1 {
  text-align: center;
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.footer-card-subtitle span {
  color: #737d86;
  text-align: center;
  font-family: "Gilroy";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 250% */
}
